{% include "header.html" %}
        <h2>{{ cal_name }}</h2>
        <hr>
        {% if tasks|length == 0 %}
        <p style="text-align: center"><i>No items found</i></p>
        {% else %}{% for task in tasks %}
        <section style="border-color: {{ task.color }}">
            <p class="tasksummary">{{ task.summary }}</p>
            <hr>
            <p class="status"><span style="color: {{ priority|get_item:task.priority|get_item:"color" }}">Priority: {{ priority|get_item:task.priority|get_item:"name" }}</span> - Status: {{ task.status }} <br> Created: {{ task.created }} - Modified: {{ task.modified }}</p>
        </section>{% endfor %}{% endif %}
        <hr>
{% include "footer.html" %}