{% include "header.html" %}
        <h2>{{ cal_name }}</h2>
        <hr>
        {% if tasks|length == 0 %}
        <p style="text-align: center"><i>No items found</i></p>
        {% else %}{% for task in tasks %}
        <section style="border-color: {{ task.color }}">
            <p class="tasksummary">{{ task.summary }}</p>
            <hr>
            <p class="status"><span style="color: {{ task.priority.color }}">Priority:&nbsp;{{ task.priority.name|safe }}</span>&nbsp;-&nbsp;<span style="color: {{ task.status.color }}">Status:&nbsp;{{ task.status.name|safe }}</span>{% if task.categories != "" %}&nbsp;-&nbsp;Categories:&nbsp;{{ task.categories|safe }}{% endif %}&nbsp;- Created:&nbsp;{{ task.created|safe }}&nbsp;-&nbsp;Modified:&nbsp;{{ task.modified|safe }}</p>
        </section>{% endfor %}{% endif %}
        <hr>
{% include "footer.html" %}